.component-chef-card {
  width: 100%;
  box-sizing: border-box;
  padding: $margin / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-bottom: solid 1px $black;

  h4 {
    @extend .link;
    margin-right: $margin;
  }
}
