.component-recipe-card {
  padding: $margin;
  margin-bottom: $margin;

  .image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center center;
  }

  .info-container {
    padding-top: $margin / 2;
    text-align: left;

    .time-and-difficulty {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: $margin / 2;
    }
  }
}
