.component-recipe-card {
  width: 292px;
  position: relative;
  box-shadow: -1px 1px 5px 1px rgba(130,130,130,0.05);
  -webkit-box-shadow: -1px 1px 5px 1px rgba(130,130,130,0.05);
  -moz-box-shadow: -1px 1px 5px 1px rgba(130,130,130,0.05);

  .image {
    width: 100%;
    height: 217px;
    background-size: cover;
    background-position: center center;
  }

  .info-container {
    padding: $margin * 1.5 $margin;
    text-align: left;
    background: #FFFFFF;
    height: 152px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
      font-family: 'Helvetica', sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      color: $black;
    }

    .time-and-difficulty {
      margin-top: $margin;

      p {
        color: $grey;

        &:first-of-type {
          margin-bottom: 4px;
        }
      }
    }
  }

  .backdrop {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(130,130,130,0.05);
    transition: opacity ease-in-out 150ms; 
  }

  &:hover {
    .backdrop {
      opacity: 1;
    }
  }

  @include responsive(iphonePlus) {
    width: calc(100vw - 32px);
  }
}
