body {
  overflow-x:hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

input[type="text"]:focus { outline: none; }

a {
  @include transition(200);

  &:hover{
    text-decoration: none;
  }

  &:focus{
    text-decoration: none;
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}
