body {
  font-family: 'Helvetica', sans-serif;
  color: $black;
}

h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 72px;
  line-height: 86px;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 140%;
}

a {
  text-decoration: none;
  color: $black;
}

.link {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  line-height: 29px;
}

input {
  border: solid 1px $grey;
  border-radius: 8px;
  padding: 12px $margin * 1.5;
  background: #FFFFFF;
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: $black;

  &::placeholder {
    color: $grey;
  }
}
