/* == COLORS == */
$black: #1D1D1B;
$blue: #96BDC6;
$light-blue: #E6FAFC;
$brown: #CFB9A5;
$green: #81968F;
$purple: #E9D6EC;

/* == WIDTHS == */
$iphoneSmall: 320px;
$iphone: 375px;
$iphonePlus: 414px;
$ipad: 812px;
$ipadPro: 1024px;
$ipadLandscape: 1366px;
$desktop: 1440px;

/* == GRID == */
$colValue: 8.333333333333333%;

/* == MARGIN == */
$margin: 16px;
