.page-home {
  .banner {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 130px;
      color: $white;
    }
  }

  .content-container {
    padding: $margin * 4 0;
    background: $white;

    .intro-container {
      text-align: center;

      h1 {
        color: $red;
      }

      .description-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: $margin * 2;
      }

      .submit-container {
        margin-top: $margin * 2;

        p {
          margin-bottom: $margin;
        }

        .link {
          color: $red;
        }
      }
    }

    .search-container {
      width: 100%;
      margin-top: $margin * 4;
      margin-bottom: $margin * 3;

      input {
        box-sizing: border-box;
        width: 100%;
      }
    }

    .recipes-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .recipe {
      margin-bottom: $margin * 2;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include responsive(ipad) {
    .banner {
      h1 {
        font-size: 85px;
      }
    }
  }

  @include responsive(iphonePlus) {
    .banner {
      height: 50vh;

      h1 {
        font-size: 45px;
      }
    }

    .content-container {
      padding: $margin * 1.5 0;

      .intro-container {
        h1 {
          font-size: 29px;
          line-height: 34px;
        }

        .description-container {
          margin-top: $margin;
        }

        .submit-container {
          margin-top: $margin;
        }
      }

      .search-container {
        margin-top: $margin * 2;
        margin-bottom: $margin * 1.5;
      }

      .recipe {
        margin-bottom: $margin * 1.5;
      }
    }
  }
}
