.component-recipe-detail {
  padding: 0 $margin;

  h1 {
    margin-bottom: $margin;
  }

  .time-container, .difficulty-container {
    display: flex;
    flex-direction: row;

    .label {
      margin-right: $margin / 2;
    }

    .value {
      color: $grey;
    }

    &:first-of-type {
      margin-bottom: 4px;
    }
  }

  .ingredients-container, .steps-container {
    margin-top: $margin * 3;

    h4 {
      font-family: 'Bebas Neue', cursive;
      font-size: 24px;
      line-height: 28px;
      color: $black;
      margin-bottom: $margin;
    }
  }
}
