.component-recipe-detail {
  padding: 0 $margin;

  .image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center center;
  }

  .info-container {
    min-height: calc(100vh - 192px - 300px);
    box-sizing: border-box;
    padding: $margin / 2 $margin $margin $margin;
    background: $grey;

    h1 {
      margin-bottom: $margin;
    }

    h4 {
      margin-bottom:  $margin / 2;
    }

    .ingredients-container, .steps-container, .time-container, .difficulty-container {
      margin-bottom: $margin;
    }
  }
}
