.page-chef {
  min-height: 100vh;

  h4 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
  }

  .chef-header {
    width: 100vw;
    height: $margin * 22;
    background: $red;

    .chef-header-info {
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 28px;
    }

    h1, p {
      color: $white;
    }

    h1 {
      padding-bottom: $margin / 2;
      margin-top: $margin / 2; 
      margin-bottom: $margin / 2;
      border-bottom: solid 1px $white;
    }
  }

  .content-container {
    padding: $margin * 4 0;
    background: $white;

    .recipes-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .recipe {
      margin-bottom: $margin * 2;
    }
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include responsive(iphonePlus) {
    .content-container {
      padding: $margin * 1.5 0;

      .recipe {
        margin-bottom: $margin * 1.5;
      }
    }
  }
}
