.page-detail {
  .image {
    width: 100vw;
    height: $margin * 38;
    background-position: center;
    background-size: cover;
  }

  .empty-image {
    width: 100vw;
    height: $margin * 38;
    background: #FFFFFF;
  }

  .content-container {
    padding: $margin * 4 0;
    min-height: calc(100vh - 400px);
    background: $white;
  }

  @include responsive(iphonePlus) {
    .image, .empty-image {
      height: $margin * 15;
    }

    .content-container {
      padding: $margin * 1.5 0;
      min-height: calc(100vh - 296px);
    }
  }
}
