.page-top {
  min-height: 100vh;

  .top-chef {
    width: 100vw;
    height: $margin * 22;
    background: $red;

    .top-chef-info {
      text-align: center;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 28px;
    }

    a.top-chef-name {
      margin-top: $margin / 2; 
    }

    h1, p {
      color: $white;
    }

    h1 {
      padding-bottom: $margin / 2;
      margin-bottom: $margin / 2;
      border-bottom: solid 1px $white;
    }
  }

  .content-container {
    min-height: calc(100vh - 400px);
    padding-top: $margin * 3;
    background: $white;

    .discover-section {
      margin-bottom: $margin * 4.5;

      .discover-section-header {
        text-align: center;

        h4 {
          @extend .title2;
          margin-bottom: 2px;
        }
      }

      .discover-recipe-list {
        margin-top: $margin * 2.5;

        .BrainhubCarousel {
          overflow: visible;

          .BrainhubCarousel__trackContainer {
            overflow: visible;

            .BrainhubCarouselItem {
              width: 292px !important;
            }

            .BrainhubCarouselItem:first-of-type {
              padding-left: 0 !important;
            }
          }
        }
      }
    }

    .chefs-section {
      .chefs-section-header {
        text-align: center;

        h4 {
          @extend .title2;
          margin-bottom: 2px;
        }
      }

      .chefs-list {
        padding: $margin * 2.5 0;
      }
    }    
  }

  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $margin * 3.5;
  }

  @include responsive(iphonePlus) {
    .content-container {
      .discover-section {
        .discover-recipe-list {
          .BrainhubCarousel {
            overflow: hidden;

            .BrainhubCarousel__trackContainer {
              overflow: hidden;

              .BrainhubCarouselItem {
                // width: calc(100vw - 32px) !important;
              }
            }
          }
        }
      }
    }
  }
}
